.col{
	float: left;
	width: 50%;
}

.col img{
	margin: auto;
	display: block;
	width: 90%;
	height: 90%;
}

.col img:hover{
	border: 1px solid white;
}

.clickIMG{
	padding-left: 20px;
	padding-top: 20px;
	box-sizing: border-box;
}

body{
	background-color: black;
	color: white;
	cursor:crosshair;
}

h1{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
	font-size: 48px;
	font-family: "Courier Header";
}
