.col{
	float: left;
	width: 50%;
}

.col img{
	margin: auto;
	display: block;
	width: 90%;
	height: 90%;
}

.col img:hover{
	border: 1px solid white;
}

.clickIMG{
	padding-left: 20px;
	padding-top: 20px;
	box-sizing: border-box;
}

.unmanned img{
	margin: auto;
	display: block;
}

.unmanned img:hover{
	border: 1px solid white;
}

.mainText{
	border: 1px solid white;
	font-family: "Courier";
	font-size: 18px;
	color: white;
	width: 70%;
	text-align: center;
	margin: auto;
	display: block;
	padding: 15px;
}

.back{
	background-color: white;
	padding: 5px;
}


.moon{
	width: 120px;
	height: 120px;
	position: absolute;
	padding-top: 30px;
	padding-left: 30px; 
}

body{
	background-color: black;
	background-image: url("spacePictures/deepSpace.jpg");
	color: white;
	cursor: crosshair;
}

h1{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
	font-size: 48px;
	font-family: "Courier Header";
}

h2{
	text-align: center;
	font-size: 36px;
	font-family: "Courier Header";
	font-style: italic:
}
